.dndflow {
  /* flex-direction: column;
  display: flex;
  flex-grow: 1; */
  height: 100%;

}

.parent {
  display: flex;
  flex-grow: 1;
}



.reactflow-wrapper {
  height: 100vh;
  width: 75vw;
}


.db {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  box-shadow: 0 0 5px #eee;
}

.user {
  border: 1px solid #bcc1f7;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  box-shadow: 0 0 5px #bcc1f7;
}

.server {
  border: 1px solid #f0bcf7;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  box-shadow: 0 0 5px #f0bcf7;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 100vh;
  box-shadow: 0 0 10px #eee;
  width: 100%;
}

.c-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
  padding: 2rem 2rem;
  height: 10rem;
  width: 10rem;
  border: solid 1px #eee;
  text-align: center;
  cursor: grab;
  transition: all .2s;
}

.c-list:hover {
  background-color: #eee;
  scale: 1.1;
}

.button-parent {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #eee;
  justify-content: center;
  text-align: center;
}

.button-parent>* {
  margin: 1rem 1rem;
}

.alert {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 1rem;
  max-width: 30%;
}